@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirmar email";
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />

<p>
    <a class="btn btn-primary" asp-page="/Account/Login">Ir al inicio de sesión</a>
</p>
