@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmación de restablecimiento de contraseña";
}

<h1>@ViewData["Title"]</h1>
<p>
    Revisá tu correo electrónico para restablecer tu contraseña.

<div class="text-start">
    <a href="https://mail.google.com" target="_blank" class="btn btn-primary px-4 py-2" style="border-radius: 10px;">
        Abrir Gmail
    </a>
</div>