@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmación de restablecimiento";
}

<h1>@ViewData["Title"]</h1>

<p>
    Contraseña restablecida correctamente.
</p>

<p>
    <a class="btn btn-primary" asp-page="/Account/Login">Ir al inicio de sesión</a>
</p>


